/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body{
    background-color: hsl(210, 46%, 95%);
    font-family:'Barlow Semi Condensed', sans-serif;
    /* font-size: 13px; */
}

.container{
    width: 90%;
    margin: auto auto;

}


/* .boxes-wrapper{
    max-width: 600px;
    min-width: 370px;
} */
.pic{
    direction: flex;
    justify-content: center;
    align-self: center;
}
.pic img{
    border-radius: 50%;
    width: 35px;
    height: auto;
    margin:auto auto;
}

.profile{
    display: flex;
    /* border: 1px solid black; */

}

.profile-detail{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-content: center;
    padding-left: 0.5rem;
    justify-content: space-evenly;

}



/*For managing padding between image and name, staus*/
.profile-detail .name, .status{
    margin:0px  ;
    /* border: 1px solid red; */
    margin-left: .5rem;
    display:flex;
    flex-direction: column;
}

.collection{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.boxes-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
}

/*Box Background colour */

.first{
    background-color: hsl(263, 55%, 52%);
}

.second{
    background-color: hsl(217, 19%, 35%);
}

.third, .fifth{
    background-color: hsl(0, 0%, 100%);
    color:
}

.forth{
    background-color: hsl(219, 29%, 14%);
}


/* Color for the section text */
.first, .second, .forth{
    color:hsl(0, 0%, 81%);
}

.status{
    /* color:hsl(210, 46%, 95%); */
    font-size: 0.75em;
    opacity: 0.5;
}

.summary{
    font-size: 1.5em;
    /* font-weight: 500; */
}

.testamonies-details{
    opacity: 0.75;
}

.first .summary, .second .summary, .forth .summary{
    color:hsl(210, 46%, 95%)
} 


/* Desktop Design */

@media screen and (min-width: 1439px) {
    .boxes-wrapper{
        max-width: 100%;
        display: flex;
        align-self: flex-start;
        flex-direction: row;
    }

}